{% extends 'base.html.twig' %}

{% block title %}Edit RecPertePersonne{% endblock %}

{% block body %}
    <h1>Edit RecPertePersonne</h1>

    {{ include('rec_perte_personne/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rec_perte_personne_index') }}">back to list</a>

    {{ include('rec_perte_personne/_delete_form.html.twig') }}
{% endblock %}
