{% extends 'front/layout.html.twig' %}
{% block title %}Ajouter réclamation perte des objets{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-6 img">
            <img
                    width="150px" height="150px"
                    src="{{ reclamation.image }}"  alt="" class="rounded-circle">
        </div>
        <div class="col-md-6 details">
            <blockquote>
                <h5>{{ reclamation.titre }} </h5>
                <small><cite title="Source Title"> <i class="icon-map-marker"></i></cite></small>
            </blockquote>

            {#
            Si on a une piéce d'identité on l'affiche et on affiche un bouton Maj PI
            Sinon On affiche un bouton add Pi
            #}


        </div>
    </div>

{% endblock %}

{