{% extends 'base.html.twig' %}

{% block title %}Edit RecPersonnePerdue{% endblock %}

{% block body %}
    <h1>Edit RecPersonnePerdue</h1>

    {{ include('rec_personne_perdue/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('rec_personne_perdue_index') }}">back to list</a>

    {{ include('rec_personne_perdue/_delete_form.html.twig') }}
{% endblock %}
